body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

h2 {
    position: relative;
    left: 60px;
}

table {
    border: 2px solid;
    width: 650px;
    margin: 0 auto;
    border-collapse: collapse;
}

thead {
    background-color: chocolate;
}

td {
    border: 1px solid;
}

th, td {
    padding: 20px;
}